@use '../1-abstrauct/functions' as fu;
@use '../1-abstrauct/colors' as c;

footer {
    margin-top: fu.toRem(161px);
    padding-top: fu.toRem(48px);
    background-color: c.$lightgrayishBlue;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .logo {
        width: fu.toRem(60px);
    }

    .links {
        display: flex;
        flex-flow: column nowrap;
        padding-top: fu.toRem(45px);

        .link {

            &:not(:first-child) {
                margin-top: fu.toRem(33px);
            }
        }
    }

    .socials {
        padding-top: fu.toRem(48px);
        padding-bottom: fu.toRem(37px);
        width: fu.toRem(156px);
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            display: block;
            
            path {
                transition: fill var(--transition) ease-in-out;
            }

            &:hover {
                cursor: pointer;

                path {
                    fill: c.$strongCyan;
                }
            }
        }

        .social {
            position: relative;
            // display: flex;
            // justify-content: center;

            .tooltip {
                display: block;
                position: absolute;
                top: -100%;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: opacity var(--transition) ease-in-out;
            }

            &:hover {
                .tooltip {
                    opacity: 1;
                }
            }
        }
    }
}