@use '../1-abstrauct/functions' as fu;
@use '../1-abstrauct/colors' as c;
@use  '../1-abstrauct/mixins' as m;

button {
    cursor: pointer;
    // height: fu.toRem(52px);
    height: fu.toRem(46px);
    width: 100%;
    border-radius: 20px;
    border: none;
    transition: filter var(--transition) ease-in-out;

    &.ios {
        background-color: c.$strongCyan;
        box-shadow: 0px 0px 10px 0px rgba($color: c.$strongCyan, $alpha: 0.6);
    }

    &.mac {
        margin-top: fu.toRem(22px);
        background-color: c.$lightBlue;
        box-shadow: 0px 0px 10px 0px rgba($color: c.$lightBlue, $alpha: 0.6);

        @include m.breakpoint-up(medium) {
            margin-top: 0;
            margin-left: fu.toRem(20px);
        }
    }

    &:hover {
        filter: brightness(1.15);
    }
}